<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 Not Found</title>
    <script>
        function homeRedirect() {
            window.location = "/"
        }
    </script>
</head>
<body>
    <h1>404 Not Found</h1>
    <p>Sorry, the page you tried to access was not found. Please try again later.</p>
    <div class="footer" style="position: absolute; bottom: 10px; left: 10px; z-index: 10px;">
        <p>Made with ♥️ by RealArslaanYT</p>
        <button onclick="homeRedirect();" style="width: 10vw; height: 7vh;">Back to Home</button>
    </div>
</body>
</html>
