<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Arslaan's Wordle Hack | Home</title>
    <script>
        function getSolutionRedirect() {
            window.location = "solution/" + document.getElementById("date").value;
        }
    </script>
</head>
<body>
    <h1>Arslaan's Wordle Hack!</h1>
    <br/>
    <input id="date" placeholder="YYYY-MM-DD" style="width: 10vw; height: 6vh;"/>
    <button onclick="getSolutionRedirect();" style="width: 10vw; height: 7vh;">Get Solution!</button>
</body>
</html>
